* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.input-field {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 9px;
    height: 50px;
    position: relative;
    width: 280px;
}
input::placeholder{
    color: #b4b4b4;
    font-size: 15px;
}
input{
    border: 0;
    font-size: 15px;
    height: 100%;
    outline: 0;
    padding: 0 15px;
    width: 100%;
}
.input-field .email-icon{
    color: #b4b4b4;
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}